.course {
  background-image: url(../images-20210705T094001Z-001/images/accent_bottom_wave_01.png);
  width: 100%;
  height: 677px;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
  @include Responsive(XL) {
    width: 112%;
  }
  @include Responsive(MD) {
    width: 122%;
    display: contents;
  }
  .course_child {
    padding-top: 150px;
    .course_img {
      float: left;
      width: 45%;
      img {
        width: 95%;
        margin: -40px 100px;
        @include Responsive(MD) {
          width: 185%;
        }
        @include Responsive(SM) {
          width: 100rem;
        }
      }
    }
    .course_forms {
      float: left;
      width: 30%;
      background-color: white;
      padding: 55px 0px;
      margin: -35px 141px;
      border-radius: 15px;
      height: 500px;
      -webkit-box-shadow: 0 30px 30px -10px #00000033;
      box-shadow: 0 30px 30px -10px #00000033;
      @include Responsive(MD) {
        width: 145%;
        margin-left: 25px;
        padding: 20px;
        margin-top: 120px;
      }
      @include Responsive(SM) {
        width: 300%;
        height: 50rem;
      }
      h1 {
        text-align: center;
        margin-bottom: 55px;
        font-weight: 700;
        @include Responsive(MD) {
          text-align: inherit;
        }
        @include Responsive(SM) {
          font-size: 6rem;
        }
      }
      form {
        @include Responsive(MD) {
          width: 100%;
        }
        button {
          border-radius: 20px;
          height: 3em;
          width: 10em;
          margin-left: 10px;
          margin-top: 50px;
          background-color: white;
          border: none;
          box-shadow: inset 0px 0px 0px 23px #b61984;
          transition: all 300ms ease-in-out;
          &:hover{
            border: solid #b61984 1px;
            box-shadow: inset 0 0 0 0 white;
            color: #b61984;
          }
        }
        .form-row {
          flex-wrap: nowrap;
          display: flex;
          @include Responsive(SM) {
            display: flex;
            flex-direction: column;
            height: 15rem;
          }
          .form-group {
            i {
              padding: 10px;
              color: #b61984;
            }
            input {
              border: none;
              width: 110px;
              font-size: 12px;
            }
          }
          .form-name {
            border: solid 1px #0000001a;
            width: 160px;
            height: 40px;
            border-radius: 20px;
            margin: 0px 10px;
            @include Responsive(MD) {
              width: 50%;
              height: 50px;
            }
            @include Responsive(SM) {
              width: 100%;
              height: 7rem;
            }
            i {
              @include Responsive(SM) {
                font-size: 3rem;
              }
            }
            input {
              @include Responsive(SM) {
                font-size: 3rem;
                width: 100%;
                padding-left: 37px;
              }
            }
          }
          .form-email {
            width: 170px;
            height: 40px;
            margin-left: 10px;
            border: solid 1px #0000001a;
            border-radius: 20px;
            @include Responsive(MD) {
              width: 50%;
              height: 50px;
            }
            @include Responsive(SM) {
              width: 100%;
              height: 7rem;
            }
            i {
              @include Responsive(SM) {
                font-size: 3rem;
              }
            }
            input {
              @include Responsive(SM) {
                font-size: 3rem;
                width: 100%;
                padding-left: 37px;
              }
            }
          }
        }
        .form-lenguage {
          width: 95%;
          height: 40px;
          margin-left: 5px;
          border: solid 1px #0000001a;
          border-radius: 20px;
          @include Responsive(MD) {
            width: 100%;
            font-size: 20px;
            height: 45px;
          }
          @include Responsive(SM) {
            font-size: 3rem;
            height: 6rem;
          }
          i {
            padding: 10px;
            color: #b61984;
          }
          select {
            border: none;
            width: 275px;
            font-size: 12px;
            @include Responsive(MD) {
              width: 100%;
            }
            @include Responsive(SM) {
              width: 100%;
              font-size: 3rem;
              padding-left: 25px;
            }
          }
        }
        .form-text {
          border: 1px solid #0000001a;
          width: 343px;
          padding-left: 10px;
          margin-left: 10px;
          height: 80px;
          border-radius: 15px;
          @include Responsive(MD) {
            width: 100%;
          }
          @include Responsive(MD) {
            width: 100%;
            height: 15rem;
          }
          i {
            margin-top: -40px;
            color: #b61984;
            @include Responsive(MD) {
              font-size: 3rem;
              margin-top: -9rem;
            }
          }
          textarea {
            border: none;
            height: 70px;
            font-size: 12px;
            padding: 5px 10px;
            width: 315px;
            @include Responsive(MD) {
              width: 100%;
            }
            @include Responsive(SM) {
              width: 100%;
              height: 100%;
              font-size: 3rem;
              padding-left: 2rem;
            }
          }
        }
      }
    }
  }
  .btn {
    @include Responsive(SM) {
      width: 67% !important;
      margin: 0rem 15rem !important;
      height: 5rem !important;
      background-color: #b61984 !important;
      font-size: 3rem;
    }
  }
}
