footer {
  background-image: url(../../images-20210705T094001Z-001/images/footer_background.jpg);
  color: white;
  height: 512px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 110%;
  margin-top: -1px;
  @include Responsive(XL) {
    width: 124%;
    margin-top: -1px;
    height: 461px;
    position: relative;
    left: -103px;
    background-size: auto;
  }
  @include Responsive(MD) {
    width: 150%;
    margin-left: 103px;
    background-position: bottom;
    background-size: 200%;
    height: 100%;
    padding: 150px 0;
  }
  .footer_content {
    display: flex;
    justify-content: space-between;
    padding-top: 124px;
    @include Responsive(MD) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 40px;
    }
    div {
      width: 20%;
      @include Responsive(MD) {
        width: 100%;
        font-size: large;
      }
      h3 {
        margin-bottom: 30px;
        font-weight: 700;
        @include Responsive(MD) {
          font-size: 35px;
        }
      }
      div {
        padding-top: 10px;
        width: 100%;
        i {
          padding-right: 10px;
          color: white;
        }
      }
    }
  }
  .border_bottom {
    p {
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      height: 30px;
    }
  }
  .footer_newsletter {
    input {
      width: 230px;
      height: 50px;
      border-radius: 50px;
      @include Responsive(MD) {
        width: 100%;
      }
      &:first-of-type {
        background: transparent;
        border: 1px solid rgba(255, 255, 255, 0.1);
        text-align: center;
        height: 50px;
        &::-webkit-input-placeholder {
          color: white;
        }
        @include Responsive(MD) {
          height: 60px;
        }
      }
      &:last-of-type {
        box-shadow: 0 0 0 1px #fff inset;
        border: none;
        background-color: white;
        margin-top: 8px;
        @include Responsive(MD) {
          height: 60px;
        }
      }
    }
  }
}
