header {
  margin-top: -13px;
  .navbar {
    margin-left: 145px;
    z-index: 2222;
    @include Responsive(MD) {
      background-color: white;
      margin-left: 0;
      height: 80px;
    }
    img {
      width: 80px;
      @include Responsive(MD) {
        width: 40%;
        margin-left: 60px;
      }
    }
    .ab_navBar {
      .navbar-nav {
        width: 52%;
        margin-left: 233px;
        a {
          font-weight: 600;
          color: black;
          font-size: 13px;
          padding: 25px;
          .ab_point {
            width: 9px;
            height: 9px;
            border-radius: 100%;
            background-color: #b61984;
            position: absolute;
            bottom: 8px;
            color: white;
            padding-left: -9px;
            margin-left: -20px;
          }
        }
      }
      .head-right {
        margin-left: -24px;
        margin-right: 41px;
        a {
          float: left;
          color: white;
          width: 175px;
          height: 45px;
          border-radius: 22px;
          text-align: center;
          line-height: 45px;
          box-shadow: inset 0px 0px 0px 23px #b61984;
        }
      }
      span {
        i {
          margin-top: 16px;
          padding-left: 10px;
          font-size: 13px;
        }
      }
    }
    .navbar-toggler {
      border: none;
      color: #b61984;
      font-size: 30px;
      position: absolute;
    }
  }
}
