.people {
  background-color: #dcd1f3;
  margin-top: -100px;
  background-image: url(../../images-20210705T094001Z-001/images/Wave_White_bottom_right_shape_01.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom;
  @include Responsive(XL) {
    width: 116%;
    margin-top: -152px;
  }
  @include Responsive(MD) {
    width: 148%;
  }
  .pp-item {
    display: flex;
    margin: 0 125px;
    flex-wrap: wrap;
    justify-content: space-around;
    @include Responsive(XL) {
      display: grid;
    grid-template-columns: repeat(4,1fr);
    }
    @include Responsive(MD) {
      display: grid;
    grid-template-columns: repeat(2,1fr);
    }
    .card {
      margin: 20px;
      border: none;
      text-align: center;
      transition: all 300ms;
      border-radius: 8px;
      width: 17rem;
      .blog__item {
        overflow: hidden;
        border-radius: 8px;
      }
      .card-body {
        p {
          &:first-of-type {
            font-size: 12px;
            font-weight: 600;
            color: #b61984;
          }
        }
        h4 {
          font-weight: 700;
        }
      }
      @include Responsive(MD) {
        width: 45rem;
      }
    }
  }
}
